// We do this to give the effect of a 'long footer'
.sd-body {
	background-color: $sd-colour-mid-grey;
}

.sd-canvas {
	background-color: $sd-colour-light-grey;
}

.sd-content {
	background-color: $sd-colour-white;
}
