.sd-footer {
	border-top: 0.1rem solid $sd-colour-black;
	background-color: $sd-colour-mid-grey;
}

.sd-footer--inner {
	margin-top: 1rem;
}

.sd-footer .sd-link {
	color: $sd-colour-black;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		color: darkblue;
	}

	&:active,
	&:focus {
		text-decoration: none;
	}
}
