// Text colour
.sd-body {
	color: $sd-colour-black;
}

.sd-link {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:active,
	&:focus {
		color: $sd-colour-black;
		background-color: $sd-colour-yellow;
		text-decoration: none;
		box-shadow: 0 -2px $sd-colour-yellow, 0 4px $sd-colour-yellow;
	}
}
