{% extends "_page.njk" %}

{% block page %}
<div class="container">
	<div class="row mb-2">
		<div class="col-sm">
			<h1>Error <span class="sd-c-red">404</span></h1>

			<p>This page does not exist.</p>

			<a href="/" class="sd-link">Return home</a>
		</div>
		<div class="col-sm"></div>
	</div>

</div>
{% endblock %}