<footer class="text-center text-secondary credits">
	<hr/>
	<p class="small">
		Created by&nbsp;<a href="//mozley.tech" target="blank" rel="author">Kyra Mozley</a>&nbsp;and&nbsp;<a href="//emozley.uk" target="blank" rel="author">Elliott Mozley</a>
	</p>
<!--
	<p class="small">
		Socially Distanced is <a href="//github.com/kyralmozley/sociallydistanced" target="blank"
			rel="external">open source on GitHub</a>.
	</p>
-->
</footer>