<footer class="sd-footer">
	<div class="container sd-footer--inner">

		<p class="sd-ta-center">
			Licensed under
			<a href="https://github.com/kyralmozley/sociallydistanced/blob/master/LICENSE" class="sd-link" target="blank" rel="external">GPL-3.0</a>.
		</p>

		<p class="sd-ta-center">
			Created by <a href="//mozley.tech" class="sd-link" target="blank" rel="author">Kyra Mozley</a> and
			<a href="//emozley.uk" class="sd-link" target="blank" rel="author">Elliott Mozley</a>.
		</p>

		<p class="sd-ta-center">
			Socially Distanced is <a href="//github.com/kyralmozley/sociallydistanced" class="sd-link" target="blank" rel="external">open source on GitHub</a>.
		</p>
	</div>
</footer>