<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ CDN_ROOT }}/static/css/main.css" />

    <title>{{ title | default("Socially Distanced")}}</title>

		<script>
			window.GLOBAL_ENV = {
				ENVIRONMENT: "{{ ENV | default('development') }}",
				API_BASE_URI: "{{ BASE_URI | default('http://localhost:3000') }}",
				MAPS_API_KEY: "{{ MAPS_API_KEY | default('undefined') }}",
				CDN_ROOT: "{{ CDN_ROOT }}"
			}
		</script>

		<meta name="version" content="0.0.0" />

		{% block seo %}
			<!-- General -->
			<meta name="description" content="An AI to predict whether or not social distancing is currently feasible at a given location." />
			<meta name="keywords" content="distance, location, coronavirus, covid, corona, covid-19, covid19, social, distance, distancing, safe, two meters, 2m, 2 meters, supermarket, busy, park, AI, ML, Eleanor Mozley, Kyra Mozley, UK, US, Corona US, Corona UK" />
			<meta name="locale" content="en_GB" />
			<meta name="theme-color" content="578308" />

			<!-- Twitter and OpenGraph -->
			<meta name="twitter:description" content="An AI to predict whether or not social distancing is currently feasible at a given location." />
			<meta name="twitter:site" content="SocDistanced" />
			<meta name="og:title" content="Socially Distanced" />
			<meta name="og:description" content="An AI to predict whether or not social distancing is currently feasible at a given location." />

			<!-- Desktop Browsers -->
			<link rel="shortcut icon" type="image/x-icon" href="{{ CDN_ROOT }}/static/img/favicon.ico" />

			<!-- PWA -->
			<link rel="manifest" href="/static/manifest.json" />
			<link rel="webmanifest" href="/static/manifest.json" />

			<!-- Chrome versions that support PWA, but not manifests -->
			<meta name="mobile-web-app-capable" content="yes" />
			<link rel="icon" sizes="192x192" href="{{ CDN_ROOT }}/static/img/launcher-icons/192.png" />

			<!-- iOS -->
			<meta name="apple-mobile-web-app-capable" content="yes" />
			<meta name="apple-mobile-web-app-title" content="Socially Distanced" />

			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/180.png" sizes="180x180" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/152.png" sizes="152x152" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/120.png" sizes="120x120" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/114.png" sizes="114x114" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/76.png" sizes="76x76" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/72.png" sizes="72x72" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/60.png" sizes="60x60" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/57.png" sizes="57x57" rel="apple-touch-icon-precomposed" />
			<link href="{{ CDN_ROOT }}/static/img/apple-touch-icons/precomposed.png" rel="apple-touch-icon-precomposed" />

			<!-- Windows 8 -->
			<meta name="msapplication-config" content="{{ CDN_ROOT }}/static/browserconfig.xml" />

			<!-- Windows -->
			<meta name="application-name" content="Socially Distanced" />
			<meta name="msapplication-tooltip" content="www.sociallydistanced.space" />
			<meta name="msapplication-window" content="width=1024;height=728;" />
			<meta name="msapplication-navbutton-color" content="#578308" />
			<meta name="msapplication-starturl" content="/" />


		{% endblock %}

		{% block head %}{% endblock %}
  </head>
  <body class="sd-body">
	<div class="sd-canvas">
			{% block page %}
				<h1>Error: No page content</h1>
			{% endblock %}
		</div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		{% block script %}{% endblock %}
  </body>
</html>