{% extends "_page.njk" %}

{% block page %}
<div class="container">
	<noscript>
		<h1>This site requires JavaScript</h1>
		<p>Please enable JavaScript in your browser to continue.</p>
	</noscript>

	<div class="error-container"></div>
</div>

<div class="container landing d-none text-center mt-3">
	<div>
		<h3 class="display-3 mb-3" style="display: inline-block;">Socially Distanced</h3>
		&nbsp;<h5 class="badge badge-primary" style="vertical-align: top">BETA</h5>
	</div>

	<div class="input-group mb-3">
		<input placeholder="Search for a Place" type="text" class="form-control landing-place-input" id="basic-url" aria-describedby="basic-addon3">
	</div>

	<p>
		<a href="#" class="btn btn-primary landing-go-btn">Go</a>
	</p>

	<div class="text-left">
		<p class="lead">Examples:</p>
		<ul>
			<li><a href="#" class="debug-link" data-id="ChIJhRoYKUkFdkgRDL20SU9sr9E">Hyde Park, London, UK</a></li>
			<li><a href="#" class="debug-link" data-id="ChIJc8TTcd8adkgRcx43bnFBKPU">Regent's Park, London, UK</a></li>
			<li><a href="#" class="debug-link" data-id="ChIJ0W1MGhIbdkgRT_FuhKAdeng">Caledonian Park, Market Road, London, UK</a></li>
			<li><a href="#" class="debug-link" data-id="ChIJnZPcNCQbdkgRBQvh0P46MnM">Euston Station, Euston, London, UK</a></li>
			<li><a href="#" class="debug-link" data-id="ChIJFXsRGTsbdkgRiNfOPIM08pE">Premier Inn London St Pancras hotel, Euston Road, London, UK</a></li>
			<li><a href="#" class="debug-link" data-id="ChIJpzm3HB4bdkgR5BytQRbMiCc">Sainsbury's Camden Road, London, UK</a></li>
			<li><a href="#" class="debug-link" data-id="ChIJxf19SeQadkgR_SGbcBrHVuk">Morrisons Chalk Farm Road, London, UK</a></li>
			<li><a href="#" class="debug-link" data-id="ChIJT__GzjB32EcRIAY_W2T_57I">Sainsbury's Edington Avenue, Cambridge, UK</a></li>
		</ul>
	</div>

	{% include "_footer.njk" %}
</div>

<div class="container result mt-2 d-none">
	<a href="/" class="back-link">&lsaquo; Back</a>

	<h1 class="result-title text-center">Loading</h1>
	<div class="result-map"></div>

	<!-- Current prediction is temporarily hidden -->
	<p class="result-prediction text-center d-none">Loading</p>

	<p class="result-queue" id="sd--queue">Loading</p>
	<p class="result-description" id="sd--description">Loading</p>

	<div class="result-graph-container">
		<canvas class="result-graph" width="100%" height="20%"></canvas>
	</div>

	<div class="result-feedback text-center">
		<p class="text-secondary result-feedback-text">Does this seem right?</p>
		<div class="result-feedback-buttons">
			<a href="#" class="btn btn-sm btn-outline-secondary result-feedback-positive">Yes</a>
			<a href="#" class="btn btn-sm btn-outline-secondary result-feedback-negative">No</a>
		</div>
	</div>

	<div class="result-feedback-2 text-center d-none">
		<p class="feedback-2-text">Which level seems right?</p>
		<button type="button" class="btn feedback-button-green feedback-button" data-level="0">1</button>
		<button type="button" class="btn feedback-button-lime feedback-button" data-level="1">2</button>
		<button type="button" class="btn feedback-button-yellow feedback-button" data-level="2">3</button>
		<button type="button" class="btn feedback-button-orange feedback-button" data-level="3">4</button>
		<button type="button" class="btn feedback-button-red feedback-button" data-level="4">5</button>
	</div>

	<p class="result-feedback-thanks text-center d-none">Thanks for your feedback!</p>

	{% include "_footer.njk" %}
</div>
{% endblock %}

{% block script %}
<!--
	chart.js depends on ResizeObserver, which is not on new-new browsers.
	This polyfill is here to solve that issue. Remove when no-longer needed.
-->
<script src="https://cdn.jsdelivr.net/npm/resize-observer-polyfill@1.5.1/dist/ResizeObserver.js" crossorigin="anonymous"></script>
<script src="https://www.chartjs.org/dist/master/Chart.min.js" crossorigin="anonymous"></script>
<script src="{{ CDN_ROOT }}/static/js/ctx.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY | default('undefined') }}&libraries=places"></script>
<script src="{{ CDN_ROOT }}/static/js/app.js"></script>
<script src="{{ CDN_ROOT }}/static/js/maps.js"></script>

<script src="{{ CDN_ROOT }}/static/js/debug.js"></script>

<script src="{{ CDN_ROOT }}/static/js/loadsw.js"></script>
{% endblock %}