/// Add as needed. Don't add utils that aren't going to be used.

// Colour
@each $name, $colour in $sd-all-colours {
	.sd-bg-#{$name} {
		background-color: $colour;
	}
}

@each $name, $colour in $sd-all-colours {
	.sd-c-#{$name} {
		color: $colour;
	}
}

// Misc
.result-graph-container {
	margin-top: 20pt;
	margin-bottom: 20pt;
}

.result-title {
	margin-bottom: 20pt;
}
